<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%=image_path(@company.image_url)%>);">
  <div class="container">
    <h1><%= @company.name %></h1>
    <p class="company-star">
      <% @stars.times do %>
        <i class="fas fa-star"></i>
      <% end %>
    </p>
    <p class="contact"><%= @company.description %> <br>
    <%= @company.address %> <br><br>
     Tél: <%= @company.phone %></p>
    <%= link_to 'Mettre un avis', new_company_review_path(params[:company_id]), class: "btn btn-success bold" %>
    <%= link_to 'Retour', company_path(params[:company_id]), class: "btn btn-success bold" %>
  </div>
</div>
<div class="container px-0">
  <%= render 'apply_form', company: @company, application: @application %>
</div>