<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1462206092226-f46025ffe607?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8Y29tcGFueXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=800&q=60);">
  <div class="container">
    <h1><%= @company.name %></strong></h1>
    <p class="company-star">
      <% @stars.times do %>
        <i class="fas fa-star"></i>
      <% end %>
    </p>
    <p><%= @company.description %></p>
    <p><%= @company.address %></p>
    <p><%= @company.phone %></p>
    <%= link_to 'add a review', new_company_review_path(params[:id]), class: "btn btn-success" %>
  </div>
</div>
<div class="container px-0">
  <% if @company.reviews.size.positive? %>
    <h2 class="text-center">Les avis sur <%= @company.name %> :</h2>
  <% end %>
  <% @company.reviews.each do |review| %>
    <div class="review">
    <div class="review-stars">
      <% (review.stars).times do %>
        <i class="fas fa-star"></i>
      <% end %>
    </div>
    <div class="review-body">
    <%= review.topic %> : <%= review.comment %>
    </div>
    <% if review.user == current_user %>
      <%= link_to 'supprimer', review_path(review.id), method: :delete, class: "btn review-delete" %>
    <% else %>
      <div class="empty"></div>
    <% end %>
    </div>
  <% end %>
</div>
